<%= stylesheet_link_tag "diary" %>

<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%= content_tag :div, '', data: { react_component: 'DiaryPostPage', props: @page_props.to_json } %>

