<%= stylesheet_link_tag "my_page" %>

<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%
  page_props = {
    user: {
      name:       @user.name,
      email:      @user.email,
      profile:    @user.profile,
      avatarPath: @user.avatar_path.to_s
    },
    errors:    @user.errors.full_messages,
    isCreator: session[:creator].present?
  }
%>
<%= content_tag :div, '', data: { react_component: 'MyPageUpdatePage', props: page_props.to_json } %>

