<%= stylesheet_link_tag "index" %>

<%# フラッシュメッセージは Rails 側で処理（サーバーで消費されるため React に渡さない） %>
<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>


<%
  # Rails のデータを IndexPage が受け取れる形に変換する。
  # content_tag の data: ハッシュは Rails が自動で HTML エスケープするため XSS の心配がない。
  page_props = {
    creators: @creator.map { |c|
      {
        userId:     c.user_id,
        name:       c.name,
        title:      c.title,
        avatarPath: c.avatar_path.to_s,
        createdAt:  c.created_at
      }
    },
    recommend: @recommend&.map { |c|
      {
        userId:     c.user_id,
        name:       c.name,
        title:      c.title,
        avatarPath: c.avatar_path.to_s,
        createdAt:  c.created_at
      }
    },
    loggedIn:  session[:id].present?,
    isCreator: session[:creator].present?
  }
%>
<%= content_tag :div, '', data: { react_component: 'IndexPage', props: page_props.to_json } %>

