<%= stylesheet_link_tag "index" %>

<%# フラッシュメッセージは Rails 側で処理（サーバーで消費されるため React に渡さない） %>
<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%= content_tag :div, '', data: { react_component: 'SearchUserPage', props: @page_props.to_json } %>
