<%= stylesheet_link_tag "creator" %>

<%# フラッシュメッセージは Rails 側で処理 %>
<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%
  page_props = {
    artCategories: @art_categories.map { |c| { id: c.id, name: c.name } },
    errors: @creator.errors.full_messages,
  }
%>
<%= content_tag :div, '', data: { react_component: 'CreatorCreatePage', props: page_props.to_json } %>