<%= stylesheet_link_tag "creator" %>

<%# フラッシュメッセージは Rails 側で処理 %>
<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%= content_tag :div, '', data: { react_component: 'CreatorCreatePage', props: @page_props.to_json } %>