<%=stylesheet_link_tag "creator" %>

<%# フラッシュメッセージは Rails 側で処理 %>
<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%
  page_props = {
    creator: {
      title:         @creator.title,
      artCategoryId: @creator.art_category_id,
      categoryName:  @creator.name,
      establishment: @creator.establishment,
      employee:      @creator.employee,
      postalCode:    @creator.postal_code,
      isRecruitment: @check,
    },
    artCategories: @art_categories.map { |c| { id: c.id, name: c.name } },
    isCreator: @is_creator,
    errors: [],
  }
%>
<%= content_tag :div, '', data: { react_component: 'CreatorUpdatePage', props: page_props.to_json } %>
