<%= stylesheet_link_tag "match" %>

<%# フラッシュメッセージは Rails 側で処理 %>
<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%
  page_props = {
    appeals: @appeal.map { |a|
      {
        pageId:    a.page_id.to_s,
        name:      a.name,
        birthday:  a.birthday,
        avatarPath: a.avatar_path.to_s,
        title:     a.title,
        matchTime: a.match_time,
        isOk:      a.is_ok,
      }
    },
  }
%>
<%= content_tag :div, '', data: { react_component: 'AppealShowPage', props: page_props.to_json } %>
