<%= stylesheet_link_tag "match" %>

<%# フラッシュメッセージは Rails 側で処理 %>
<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%
  page_props = {
    matches: @match.map { |m|
      {
        id:        m.id.to_s,
        name:      m.name,
        birthday:  m.birthday,
        avatarPath: m.avatar_path.to_s,
        matchTime: m.match_time,
        isAddList: m.is_add_list.to_i,
      }
    },
  }
%>
<%= content_tag :div, '', data: { react_component: 'MatchingPage', props: page_props.to_json } %>
