<%= stylesheet_link_tag "gallery" %>

<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<%
  page_props = {
    galleries: @favorite_gallery.map { |g|
      {
        id:        g.page_id,
        dataUrl:   g.data.to_s,
        tags:      g.tag_list.to_a,
        goodCount: @good_count[g.page_id] || 0,
        myGood:    @my_good.any? { |mg| mg.id == g.page_id }
      }
    },
    errors: @gallery.errors.full_messages
  }
%>
<%= content_tag :div, '', data: { react_component: 'FavoriteGalleryPage', props: page_props.to_json } %>
