<%= stylesheet_link_tag "gallery" %>

<div class="alert-box">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<div id="gallery-search-page" data-props="<%= @page_props.to_json %>"></div>

