<%= stylesheet_link_tag "gallery" %>

<%
  page_props = {
    errors: defined?(@gallery) ? @gallery.errors.full_messages : [],
    flash:  flash.to_h
  }
%>
<div id="gallery-upload-page" data-props="<%= page_props.to_json %>"></div>
