.main-title {
  margin: 2% 0 3% 0;
  padding-left: 2%;
  font-size: 71px;
  color: #fff;
  background-color: #6846A5;
}
.wrapper{
  min-height: 55vh;
  width: 71%;
  margin: 0 auto;
  padding: 1%;
  background-color: #EDE8F5;
  border: solid 1px #C8BCDF;
  border-radius: 7px;
  margin-bottom: 5%;
}
.my-form-inquiry {
  margin-top: 3%;
}
.inquiry-input-label {
  color: #3B2A5B;
  font-size: 1.5em;
}
.inquiry-form-btn {
  width: 15%;
  font-size: 1.5em;
  background-color: #6846A5;
  color: #fff;
}
.inquiry-form-btn:hover {
  opacity: 0.8;
}
.input-inquiry {
  min-height: 30vh;
}
.all-cover-box {
  min-height: 100vh;
}